*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem; /* 48px */
  font-weight: 400; /* Normal */
  line-height: 1.2; /* 57.6px → 120% */
}

h2 {
  font-size: 2.25rem; /* 36px */
  font-weight: 700; /* Normal */
  line-height: 1.2; /* 43.2px → 120% */
}

h3 {
  font-size: 1.75rem; /* 28px */
  font-weight: 700; /* Normal */
  line-height: 1.4; /* 39.2px → 140% */
}

h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: 400; /* Normal */
  line-height: 1.4; /* 33.6px → 140% */
}

h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: 400; /* Normal */
  line-height: 1.4; /* 28px → 140% */
}

h6 {
  font-size: 1rem; /* 16px */
  font-weight: 400; /* Normal */
  line-height: 1.4; /* 22.4px → 140% */
}

p {
  font-size: 1rem; /* 16px */
  font-weight: 400; /* Normal */
  line-height: 1.6; /* 25.6px → 160% */
}

.small {
  font-size: 0.875rem; /* 14px */
  font-weight: 400; /* Normal */
  line-height: 1.6; /* 22.4px → 160% */
}

.xsmall {
  font-size: 0.75rem; /* 12px */
  font-weight: 400; /* Normal */
  line-height: 1.6; /* 19.2px → 160% */
}

a:link {
  text-decoration: none; /* Hilangkan underline pada link belum dikunjungi */
  color: inherit; /* Atur warna link seperti teks biasa */
}

a:visited {
  text-decoration: none; /* Hilangkan underline pada link yang sudah dikunjungi */
  color: inherit;
}

a:hover {
  text-decoration: none; /* Bisa tambahkan efek hover lain */
  color: #0070f3; /* Contoh: ubah warna saat hover */
}

a:active {
  text-decoration: none;
  color: inherit;
}

.description {
  overflow: hidden; /* Sembunyikan kelebihan teks */
  text-overflow: ellipsis; /* Tambahkan "..." */
}

.underline-black {
  width: 120px;
  height: 4px;
  background-color: black;
  margin: 10px 0;
  border-radius: 50px; /* Sudut melengkung */
}

.underline-white {
  width: 120px;
  height: 4px;
  background-color: white;
  margin: 10px 0;
  border-radius: 50px; /* Sudut melengkung */
}

.wrapper {
  padding: 0;
}

/* ========== NAVBAR SECTION ========== */

.navbar {
  width: 100%;
  padding: 20px 100px; /* Padding untuk ruang di kiri dan kanan */
  position: sticky; /* Agar navbar tetap di atas saat scroll */
  top: 0; /* Posisi tetap di atas */
  z-index: 1000; /* Biar tetap di atas elemen lain */
  transition: box-shadow 0.3s ease; /* Transisi halus untuk bayangan */
  background-color: white; /* Warna latar belakang putih */
}

.navbar.scrolled {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar {
  display: flex;
  list-style-type: none;
}

.logo img {
  width: 60px; /* Ukuran logo */
  height: auto; /* Mempertahankan rasio aspek */
}

.navbar .menubar li a {
  display: block;
  margin: 0;
  padding: 10px 20px;
  text-decoration: none;
  color: gray;
  transition: color 0.3s ease; /* Transisi halus untuk perubahan warna */
  font-size: 20px;
}

.navbar .menubar li a:hover {
  color: black; /*berubah jika dihover*/
  font-weight: 600; /* Menebalkan teks saat dihover */
  transition: all 0.5s ease; /* Transisi halus */
}

.cta-navbar a {
  display: inline-block; /* Membuat link sebagai blok */
  padding: 20px 40px; /* Padding untuk tombol */
  font-size: 16px; /* Ukuran font */
  background-color: white; /* Warna putih */
  color: black; /* Teks hitam */
  text-decoration: none; /* Menghapus garis bawah */
  border-radius: 10px; /* Sudut melengkung */
  border: 2px solid black;
  transition: background-color 0.3s ease; /* Transisi halus */
}

.cta-navbar a:hover {
  background-color: black; /* Warna hitam gelap saat dihover */
  color: white; /* Teks putih saat dihover */
}

/* ========== HERO SECTION ========== */

.hero {
  width: 100%;
  padding: 60px 100px; /* Padding untuk ruang di kiri dan kanan */
  scroll-margin-top: 100px;
}

.hero .inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px; /* Jarak antar elemen */
}

.hero .left-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px; /* Jarak antar elemen di dalam konten kiri */
}

.big-title {
  /* Tebal */
  /* line-height: 1.2; Jarak antar baris */
  color: black; /* Warna teks hitam */
}

.big-title strong {
  font-weight: 800; /* bold untuk nama */
}

.big-title .bold {
  font-weight: 800; /* lebih bold dari teks biasa */
}

.description {
  font-size: 20px; /* Ukuran font deskripsi */
  color: gray; /* Warna teks abu-abu */
  margin-top: 10px; /* Jarak atas */
}

.cta-hero a {
  display: inline-block; /* Membuat link sebagai blok */
  padding: 20px 40px;
  font-weight: 600; /* Padding untuk tombol */
  background-color: black; /* Warna putih */
  color: white; /* Teks hitam */
  text-decoration: none; /* Menghapus garis bawah */
  border-radius: 10px; /* Sudut melengkung */
  border: 2px solid black;
  transition: background-color 0.3s ease; /* Transisi halus */
}

.cta-hero a:hover {
  background-color: white; /* Warna hitam gelap saat dihover */
  color: black; /* Teks putih saat dihover */
}

/* ========== ABOUT SECTION ========== */

.about {
  width: 100%;
  padding: 100px 100px; /* Padding untuk ruang di kiri dan kanan */
  background-color: black;
  color: white;
  scroll-margin-top: 100px;
}

.about .inner-wrapper {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px; /* Jarak antar elemen */
}

.about .left-content {
  width: 40%;
  display: flex;
  /* width: 600px; */
  flex-direction: column;
  gap: 40px; /* Jarak antar elemen di dalam konten kanan */
}

.about .right-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 40px; Jarak antar elemen di dalam konten kiri */
}

.service-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.service-box img {
  height: 40px;
}

.title-service-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px; /* Jarak antar elemen di dalam konten kiri */
}

.icon-service-box {
  width: 48px; /* Ukuran ikon */
  height: 48px; /* Ukuran ikon */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========== PROJECT SECTION ========== */

.project {
  background-color: black;
  color: white;
  width: 100%; /*agar full strech */
  padding: 100px 100px; /* Padding untuk ruang di kiri dan kanan */
  scroll-margin-top: 100px; /*Agar tidak tertutup navbar*/
}

.project .inner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.project .card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  justify-content: flex-start;
  width: 100%;
  display: flex;
  gap: 40px; /* Jarak antar elemen di dalam konten kiri */
  background-color: #191919; /* Warna latar belakang hitam */
  color: white;
  padding: 40px; /* Padding untuk ruang di dalam card */
  border-radius: 10px; /* Sudut melengkung */
  transition: transform 0.3s ease;
}

.project .title {
  font-size: 18px; /* Ukuran font judul */
  font-weight: 600; /* Tebal */
  color: white; /* Warna teks putih */
}

.project .description {
  font-size: 14px; /* Ukuran font deskripsi */
  color: white; /* Warna teks abu-abu */
  margin-top: 10px; /* Jarak atas */
}

.card:hover {
  transform: scale(1.04);
  background-color: #262626;
}

.thumbnail {
  width: 200px;
  height: auto;
  /* background-position: center; Pusatkan gambar */
  /* background-color: gray; */
  border-radius: 8px;
}

.tag {
  display: inline-block;
  padding: 5px 12px; /* Padding untuk tag */
  background-color: #444; /* Warna latar belakang abu-abu */
  color: white; /* Teks putih */
  border-radius: 20px; /* Sudut melengkung */
  font-size: 12px; /* Ukuran font tag */
  margin-top: 10px; /* Jarak atas */
}

.more-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Jarak antar elemen */
  font-size: 20px; /* Ukuran font untuk teks "See My Another Projects" */
  color: white; /* Warna teks putih */
  margin-top: 100px; /* Jarak atas */
  cursor: pointer; /* Menunjukkan bahwa ini bisa diklik */
  transition: transform 0.3s ease, letter-spacing 0.3s ease;
}

.more-detail span {
  width: 20px; /* Lebar ikon panah */
  height: 20px; /* Tinggi ikon panah */
}

.more-detail:hover {
  font-weight: 600; /* Menebalkan teks saat dihover */
  transform: scale(1.05);
  letter-spacing: 0.1px;
}

/* ========== TOOLS SECTION ========== */

.tools {
  width: 100%; /*agar full strech */
  padding: 100px 100px; /* Padding untuk ruang di kiri dan kanan */
  scroll-margin-top: 100px; /*Agar tidak tertutup navbar*/
  background-color: #000; /* hitam */
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tools-title {
  text-align: left;
}

.underline {
  width: 120px;
  height: 4px;
  background-color: white;
  margin-bottom: 30px;
  margin-left: 0; /* biar tetap rata kiri */
  border-radius: 50px; /* Sudut melengkung */
}

.tools-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex;
  align-items: flex-start;
  gap: 60px;
}

.tool-card {
  background-color: #444;
  padding: 30px;
  border-radius: 15px;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.tool-card:hover {
  transform: scale(1.05);
}

.tool-card img {
  max-width: 120px;
  max-height: 120px;
  object-fit: contain;
}

/* ========== FOOTER SECTION ========== */

.footer {
  width: 100%; /*agar full strech */
  padding: 100px 100px; /* Padding untuk ruang di kiri dan kanan */
  display: flex;
  flex-direction: column;
  gap: 40px; /* Jarak antar elemen */
  /* display: flex; */
  /* align-items: flex-start; Rata kiri */
  /* position: relative; Agar footer tetap di bawah konten */
}

.footer-inner-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-start; Rata kiri */
  /* gap: 100px; Jarak antar elemen */
}

.footer-left {
  width: 100%;
}

.footer-title .underline {
  width: 120px;
  height: 4px;
  background-color: black;
  margin-bottom: 30px;
  margin-left: 0; /* biar tetap rata kiri */
  border-radius: 50px; /* Sudut melengkung */
  margin-bottom: 60px;
}

.footer .social-icons {
  display: flex;
  gap: 15px;
}

.footer .social-icons a {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background 0.3s ease; */
}

.footer .social-icons img {
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease;
}

.footer .social-icons a:hover {
  background-color: #b4b4b4;
  /* color: white; */
}

.footer-nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.footer-nav a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

.footer-nav a a:hover {
  color: black; /*berubah jika dihover*/
  font-weight: 600; /* Menebalkan teks saat dihover */
  transition: all 0.5s ease; /* Transisi halus */
}

.footer-nav a:hover {
  color: black;
}

.footer-divider {
  width: 100%;
  height: 5px;
  background-color: black;
  /* border: none;
  border-top: 2px solid black;
  margin-top: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; */
}

/* ========== MODAL ========== */

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding: 20px;
  backdrop-filter: blur(5px);
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  text-align: start;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background-color: lightgrey;
  color: white;
  border: none;
  padding: 0px 10px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 24px;
  text-decoration: none; /* Hapus underline */
}

.close-btn:hover {
  color: white; /* Tetap putih saat hover */
  text-decoration: none; /* Pastikan tidak berubah */
}

.modal-list ul li {
  text-decoration: none;
  list-style: none;
  padding: 10px;
}

.modal-list-item {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.modal-list-item a:hover {
  color: black; /* Tetap putih saat hover */
  text-decoration: none; /* Pastikan tidak berubah */
}

.modal-list-item img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background 0.3s ease; */
}

/* Media Queries untuk 3 device umum: Desktop, Tablet, Mobile */

/* ========== 1. Desktop (≥1025px) ========== */
@media (min-width: 1025px) {
  .project .inner-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .project .card {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* ========== 2. Tablet (≥768px dan ≤1024px) ========== */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar,
  .hero,
  .about,
  .project,
  .tools,
  .footer {
    padding: 40px 60px;
  }

  .navbar {
    padding: 20px 60px;
  }

  .navbar .menubar li a {
    padding: 10px 10px;
  }

  .hero .inner-wrapper,
  .about .inner-wrapper,
  .footer-inner-wrapper {
    flex-direction: row;
    gap: 60px;
  }

  .project .inner-wrapper {
    grid-template-columns: 1fr;
  }

  .project .card {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* ========== 3. Mobile (≤767px) ========== */
@media (max-width: 767px) {
  .navbar,
  .hero,
  .about,
  .project,
  .tools,
  .footer {
    padding: 10px 30px;
  }

  h1 {
    font-size: 2rem;
  } /* 32px */
  h2 {
    font-size: 1.75rem;
  } /* 28px */
  h3 {
    font-size: 1.5rem;
  } /* 24px */
  h4 {
    font-size: 1.25rem;
  } /* 20px */
  h5 {
    font-size: 1.125rem;
  } /* 18px */
  h6 {
    font-size: 1rem;
  } /* 16px */
  p {
    font-size: 0.9375rem;
  } /* 15px */

  .logo img {
    margin-right: 40px;
  }

  .navbar .menubar li a {
    padding: 10px 10px;
    font-size: 18px;
  }

  .cta-navbar a {
    visibility: hidden;
    font-size: 0px;
  }

  .hero .inner-wrapper,
  .about .inner-wrapper,
  .footer-inner-wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .project .inner-wrapper {
    grid-template-columns: 1fr;
  }

  .project .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .thumbnail {
    width: 100%;
    height: auto;
  }

  .about .left-content {
    width: 100%;
  }

  .tools {
    padding: 40px 30px;
  }

  .footer .modal {
    padding: 100px 20px 20px 20px;
  }

  .modal-content {
    width: 400px;
  }
}
